<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/src/styles.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <a href="/">Cleaning Services</a>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search advertisers">
        <!-- Suggestions will be displayed here -->
      </div>
    </nav>
  </header>

  <main>
    <app-advertisment></app-advertisment>

  </main>

  <script src="app.js"></script>
</body>
</html>
