<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let advertiser of advertisements">
      <div class="card mb-4 box-shadow" (click)="goToProfile(advertiser._id)">
        <img class="card-img-top" src="../img/300200.png" alt="Card image cap"> <!-- If you have image, replace path-to-your-image -->
        <div class="card-body">
          <h5 class="card-title" (click)="goToProfile(advertiser._id)">{{ advertiser.username }}</h5>
          <p class="card-text">Email: {{ advertiser.email }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <!-- Add any buttons here if needed -->
            </div>
            <small class="text-muted">9 mins</small> <!-- Replace with your data if needed -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
